.footer { background: var(--text-main); color: var(--white); padding: 2rem; text-align: center; }
.footer p{ margin: 0; font-family: var(--paragraph); }
.container { display: flex; justify-content: space-between; max-width: 1000px; margin: 0 auto; }
.links { display: flex; gap: 1rem; }
.links a { color: var(--white); text-decoration: none; font-size: 0.9rem; font-family: var(--paragraph); }